<div class="container row">
    <form class="form-group col col-lg-12 row">
        <label for="username" class="sr-only">Enter your Username:</label>
        <input id="username" type="text" class="form-control col-lg-12" required autofocus/>
        <label for="password" class="sr-only">Enter your password:</label>
        <input type="text" id="password" class="form-control col-lg-12" required/>
        <input type="button" class="btn btn-primary btn-block btn-lg"/>
    </form>
</div>
